.divName {
  /*  w-auto h-[320px] lg:h-[480px]*/
    width: auto;
    height: 480px;
    animation: move 3s infinite ease alternate;

    @keyframes move {
        from{
            transform: translateY(-10px);
        }
        to{
            transform: translateY(10px);
        }
    }
}

.s {
    margin-top: 50px;
    width: auto;
    height: 480px;
    background-color: aqua;
}



